{% for host in groups[redis_group_name] %}
    redis {
        host => "{{ host }}"
        port => 5678
        data_type => "list"
        key => "logstash"
        codec => "json"
        threads => {{ (ansible_processor_count * 15) // 10 }}
    }

{% endfor %}
{% if ansible_hostname == groups['ls_parser'][1].split('.')[0] %}
    imap {
        host => "mg.royall.com"
        user => "productionroot"
        password => "{{ vault_productionroot_password }}"
        secure => "true"
        fetch_count => 100
        check_interval => 300
        delete => true
        tags => [ "imap" ]
        verify_cert => true
    }
{% endif %}
