    # --- Tag things --- #

    # Tag session messages
    if "syslog" in [tags] and [message] =~ /session (opened|closed) for user/ {
        mutate { add_tag => [ "session" ] }
    }

    # Tag login failures
    if "syslog" in [tags] and [message] =~ /(?i:invalid user)|(authentication failure)|(Failed password)|(?i:login failure)|(?:bad login)/ {
        mutate { add_tag => [ "authfail" ] }
    }

    # Capture actual source host from file path
    if [path] =~ /\/var\/log\/remote/ and [type] != "csv" {
        grok { match => [ "path" , "/var/log/remote/%{DATA:actual_source_host}/" ] }

        if [host] != [actual_source_host] {
            mutate {
                replace => [ "host" , "%{actual_source_host}" ]
                remove_field => [ "actual_source_host" ]
            }
        }

        # Check for digits then a '-' to match hostnames like '2960-1-1.adm'
        if [host] =~ /^([a-zA-Z])|(\d+-).*\./ {
            mutate { rename => [ "host" , "fqdn" ] }
            grok   { match  => [ "fqdn" , "%{DATA:host}\.%{HOSTNAME:domain}$" ] }
            mutate { remove_field => [ "actual_source_host" ] }
        } else {
            mutate { remove_field => [ "actual_source_host" ] }
        }
    }

    # Tag aerohive logs. This is based on the source IP address
    if [host] =~ /192\.168\.40\.1[567][0-9]/ {
        mutate { add_tag => "aerohive" }
    }

    # Hardwick Day APs
    if [host] =~ /10\.16\.5\.13[45]/ {
        mutate { add_tag => "aerohive" }
    }
