    # --- Apache logs --- #
    if [syslog][program] =~ "apache" {
        # Drop stdout from processes run by apache
        if [message] =~ /^\s*\b\w+\b:/ { drop {} }

        grok {
            patterns_dir => [ "/opt/logstash/patterns" ]
            match => [
                "message" , "%{APACHEACCESS}",
                "message" , "%{APACHEERROR}",
                "message" , "%{APACHESSLREQUEST}",
                "message" , "%{APACHESSLACCESS}",
                "message" , "%{APACHEREWRITE}"
            ]
        }

        useragent { source => "agent" }
        geoip { source => "clientip" }

        # Copy clientip to a new field, then perform a reverse lookup on it
        # This had to be removed beceause it slowed processing to a crawl
        # mutate {
        #     add_field => { "clientfqdn" => "%{clientip}"}
        # }
        # dns {
        #     reverse => [ "clientfqdn" ]
        #     action => "replace"
        # }

        if "_grokparsefailure" not in [tags] {

            # Extract folder
            if [request] =~ /\/.*\// {
                grok { match => [ "request", "^/%{DATA:[file][folder]}/" ] }
            }

            # Extract filename
            if [request] =~ /^((\/.*?)+)?\/(.*?)$/ {
                grok { match => [ "request" , "^((/%{DATA})+)?/%{DATA:[file][name]}($|\?)" ] }
            }

            # Extract extension
            if [file][name] and [file][name] =~ /\./ {
                grok {
                    patterns_dir => [ "/opt/logstash/patterns" ]
                    match => [ "[file][name]" , "\.%{EXTENSION:[file][extension]}" ]
                }

                mutate { lowercase => [ "[file][extension]" ] }
            }

        }

        date {
            match => [ "eventtime",
                        "dd/MMM/yyyy:HH:mm:ss Z",
                        "dd/MMM/yyyy:HH:mm:ss -Z",
                        "yyyy/MM/dd HH:mm:ss",
                        "EEE MMM dd HH:mm:ss yyyy"
            ]
        }

        # Remove eventtime field
        mutate { remove_field => [ "eventtime" ] }
    }
