    if "netflow" in [tags] {
        elasticsearch {
            hosts => [ {% for host in groups[es_group_name] %}"{{ host }}:{{ es_http_port }}"{% if not loop.last %}, {% endif %}{% endfor %} ]
            {% if es_ssl_proxy -%}
            ssl => true
            ssl_certificate_verification => false
            {% endif -%}
            index => "logstash-netflow-%{+YYYY.MM}"
        }
    } else if [syslog][program] == "tac_plus" {
        elasticsearch {
            hosts => [ {% for host in groups[es_group_name] %}"{{ host }}:{{ es_http_port }}"{% if not loop.last %}, {% endif %}{% endfor %} ]
            {% if es_ssl_proxy -%}
            ssl => true
            ssl_certificate_verification => false
            {% endif -%}
            index => "logstash-tacacs-%{+YYYY.MM}"
        }
    } else if "mssql" in [tags] {
        elasticsearch {
            hosts => [ {% for host in groups[es_group_name] %}"{{ host }}:{{ es_http_port }}"{% if not loop.last %}, {% endif %}{% endfor %} ]
            {% if es_ssl_proxy -%}
            ssl => true
            ssl_certificate_verification => false
            {% endif -%}
            index => "logstash-mssql"
        }
    } else if [syslog][program] =~ /(postfix|dkim)/ {
        elasticsearch {
            hosts => [ {% for host in groups[es_group_name] %}"{{ host }}:{{ es_http_port }}"{% if not loop.last %}, {% endif %}{% endfor %} ]
            {% if es_ssl_proxy -%}
            ssl => true
            ssl_certificate_verification => false
            {% endif -%}
            index => "logstash-postfix-%{+YYYY.MM.dd}"
        }
    } else if "firewall" in [tags] {
        elasticsearch {
            hosts => [ {% for host in groups[es_group_name] %}"{{ host }}:{{ es_http_port }}"{% if not loop.last %}, {% endif %}{% endfor %} ]
            {% if es_ssl_proxy -%}
            ssl => true
            ssl_certificate_verification => false
            {% endif -%}
            index => "logstash-firewall-%{+YYYY.MM.dd}"
        }
    } else {
        elasticsearch {
            hosts => [ {% for host in groups[es_group_name] %}"{{ host }}:{{ es_http_port }}"{% if not loop.last %}, {% endif %}{% endfor %} ]
            {% if es_ssl_proxy -%}
            ssl => true
            ssl_certificate_verification => false
            {% endif -%}
        }
    }

