    # IIS logs from old IIS servers
    file {
        path => "/var/log/remote/cwa/W3SVC*/*.log"
        sincedb_path => "/opt/logstash/sincedb/sincedb_cwa"
        exclude => [ "*.gz" ]
        start_position => "beginning"
        codec => "plain"
        tags => [ "iis" , "iis5" , "cwa" ]
        type => "iis5"
    }

    file {
        path => "/var/log/remote/{ebi,ika,hamachi}/W3SVC*/*.log"
        sincedb_path => "/opt/logstash/sincedb/sincedb_iis"
        exclude => [ "*.gz" ]
        start_position => "beginning"
        codec => "plain"
        tags => [ "iis" , "iis6" ]
        type => "iis6"
    }

    # IIS logs from Exchange on heron
    file {
        path => "/var/log/remote/heron/**/iis/*.raw.log"
        sincedb_path => "/opt/logstash/sincedb/sincedb_iis"
        exclude => [ "*.gz" ]
        start_position => "beginning"
        codec => "plain"
        tags => [ "iis" , "iis6" ]
        type => "iis6"
    }

    # Exchange logs from heron
    file {
        path => "/var/log/remote/heron/**/exchange/*.raw.log"
        sincedb_path => "/opt/logstash/sincedb/sincedb_exchange"
        exclude => [ "*.gz" ]
        start_position => "beginning"
        codec => "plain"
        tags => [ "exchange" ]
        type => "exchange"
    }