    # Open a port for collecting Windows Eventlogs from NXlog
    # logstash.crt must be installed on each Windows system for TLS to work
    tcp {
        port => 5514
        codec => "json"
        type => "eventlog"
        ssl_enable => true
        ssl_cert => "{{ logstash_ssl_crt_path }}/logstash.crt"
        ssl_key  => "{{ logstash_ssl_key_path }}/logstash.key"
    }

    # Get logs from the ASA and PIX directly
    # The files were some busy (and huge) they held up other IOS logs in the
    # glob. This is a test to see if bypassing rsyslog writing to disk and
    # going straight to logstash will improve performance.
    udp {
        port => 4514
        codec => "plain"
        type => "cisco"
        tags => [ "cisco" , "network" ]
    }

    # Port to catch logs for debugging
    # They will be output to /opt/logstash/debug.log
    udp {
        port => 4500
        codec => "plain"
        tags => [ "debug" ]
    }

    udp {
        port => 2055
        codec => netflow {
            versions => [9]
        }
        tags => [ "netflow" ]
    }