    # stdout { debug => true }

    if "debug" in [tags] {
        file {
            path => "/opt/logstash/debug.log"
            codec => "rubydebug"
        }
    } else {
        redis {
            host => [ "{{ redis_host_1 }}" , "{{ redis_host_2 }}"]
            shuffle_hosts => true
            port => "5678"
            data_type => "list"
            key => "logstash"
            workers => {{ ansible_processor_count // 2 }}
        }
    }
