    # mongod logs in their raw format, local0
    file {
        path => "/var/log/remote/**/mongod/mongod*.raw.log"
        sincedb_path => "/opt/logstash/sincedb/sincedb_mongod"
        exclude => [ "*.gz" ]
        start_position => "beginning"
        codec => multiline {
            pattern => "^%{SPACE}?%{DAY}%{SPACE}%{MONTH}%{SPACE}%{MONTHDAY}%{SPACE}%{TIME}"
            negate => true
            what => previous
        }
        tags => [ "mongo" , "mongod" ]
        type => "syslog"
    }

    # mongos logs in their raw format, local0
    file {
        path => "/var/log/remote/**/mongos/mongos*.raw.log"
        sincedb_path => "/opt/logstash/sincedb/sincedb_mongos"
        exclude => [ "*.gz" ]
        start_position => "beginning"
        codec => multiline {
            pattern => "^%{SPACE}?%{DAY}%{SPACE}%{MONTH}%{SPACE}%{MONTHDAY}%{SPACE}%{TIME}"
            negate => true
            what => previous
        }
        tags => [ "mongo" , "mongos" ]
        type => "syslog"
    }
