    # stdout { debug => true }

    if "debug" in [tags] {
        file {
            path => "/opt/logstash/debug.log"
            codec => "rubydebug"
        }
    } else {
        redis {
            host => [ {% for host in groups[redis_group_name] %}"{{ host }}"
            {%- if not loop.last %}, {% endif -%}
            {%- endfor %} ]
            shuffle_hosts => true
            port => "5678"
            data_type => "list"
            key => "logstash"
            workers => {{ ansible_processor_count // 3 }}
            }
            }
        }
    }
