input {

    file {
        path => "/var/log/remote/ikura*/**/*.syslog.json.log"
        sincedb_path => "/opt/logstash/sincedb/sincedb_syslog"
        exclude => [ "*.gz" ]
        start_position => "beginning"
        codec => "json"
        tags => [ "syslog" ]
        type => "syslog"
    }

    file {
        path => "/var/log/remote/192.168.40.1[567][0-9]/**/*.syslog.json.log"
        sincedb_path => "/opt/logstash/sincedb/sincedb_aerohive"
        exclude => [ "*.gz" ]
        start_position => "beginning"
        codec => "json"
        tags => [ "syslog" ]
        type => "syslog"
    }

    file {
        path => "/var/log/remote/**/nginx/nginx-access*.raw.log"
        sincedb_path => "/opt/logstash/sincedb/sincedb_nginx-access"
        start_position => "beginning"
        codec => "plain"
        tags => [ "nginx" , "access" ]
        type => "nginx-access"
    }

    file {
        path => "/var/log/remote/**/nginx/nginx-error*.raw.log"
        sincedb_path => "/opt/logstash/sincedb/sincedb_nginx-error"
        start_position => "beginning"
        codec => "plain"
        tags => [ "nginx" , "error" ]
        type => "nginx-error"
    }

    file {
        path => "/var/log/remote/cwa/W3SVC*/*.log"
        sincedb_path => "/opt/logstash/sincedb/sincedb_cwa"
        start_position => "beginning"
        codec => "plain"
        tags => [ "iis" , "iis5" , "cwa" ]
        type => "iis5"
    }

    file {
        path => "/var/log/remote/{ebi,ika,hamachi}/W3SVC*/*.log"
        sincedb_path => "/opt/logstash/sincedb/sincedb_iis"
        start_position => "beginning"
        codec => "plain"
        tags => [ "iis" , "iis6" ]
        type => "iis6"
    }

    file {
        path => "/var/log/remote/**/tac_plus/*.syslog.json.log"
        sincedb_path => "/opt/logstash/sincedb/sincedb_tac_plus"
        start_position => "beginning"
        codec => "json"
        tags => [ "tacacs" ]
        type => "syslog"
    }

    file {
        path => "/var/log/remote/heron/**/iis/*.raw.log"
        sincedb_path => "/opt/logstash/sincedb/sincedb_iis"
        start_position => "beginning"
        codec => "plain"
        tags => [ "iis" , "iis6" ]
        type => "iis6"
    }

    file {
        path => "/var/log/remote/heron/**/exchange/*.raw.log"
        sincedb_path => "/opt/logstash/sincedb/sincedb_exchange"
        start_position => "beginning"
        codec => "plain"
        tags => [ "exchange" ]
        type => "exchange"
    }

}

filter {
    if [type] == "syslog" {
        if [program] != "" {
            mutate {
                add_tag => [ "%{program}" ]
            }
        }

        mutate {
            replace => [ "host" , "%{source_host}" ]
            remove_field => [ "source_host" ]
        }
    }
}

output {

    # stdout { debug => true }

    redis {
        host => [ "{{ redis_host_1 }}" , "{{ redis_host_2 }}"]
        shuffle_hosts => true
        port => "5678"
        data_type => "list"
        key => "logstash"
    }

}