input {

    file {
        path => "/var/log/remote/**/*.syslog.json.log"
        sincedb_path => "/opt/logstash/sincedb/sincedb_syslog"
        exclude => [ "*.gz" ]
        start_position => "beginning"
        codec => "json"
        tags => [ "syslog" ]
        type => "syslog"
    }

    file {
        path => "/var/log/remote/**/nginx/nginx-access*.raw.log"
        sincedb_path => "/opt/logstash/sincedb/sincedb_nginx-access"
        start_position => "beginning"
        codec => "plain"
        tags => [ "nginx" , "access" ]
        type => "nginx-access"
    }

    file {
        path => "/var/log/remote/**/nginx/nginx-error*.raw.log"
        sincedb_path => "/opt/logstash/sincedb/sincedb_nginx-error"
        start_position => "beginning"
        codec => "plain"
        tags => [ "nginx" , "error" ]
        type => "nginx-error"
    }

}

filter {
    if [type] == "syslog" {
        if [program] != "" {
            mutate {
                add_tag => [ "%{program}" ]
            }
        }

        mutate {
            replace => [ "host" , "%{source_host}" ]
            remove_field => [ "source_host" ]
        }
    }
}

output {

    # stdout { debug => true }

    redis {
        host => [ "stint35.royall.com" , "stint36.royall.com"]
        shuffle_hosts => true
        port => "5678"
        data_type => "list"
        key => "logstash"
    }

}