input {

{% include 'shipper/1_input_01_listeners.conf.j2' %}

{% include 'shipper/1_input_10_cisco.conf.j2' %}

{% include 'shipper/1_input_20_syslog.conf.j2' %}

{% include 'shipper/1_input_25_mssql_csv.conf.j2' %}

{% include 'shipper/1_input_30_webserver.conf.j2' %}

{% include 'shipper/1_input_40_backuppc.conf.j2' %}

{% include 'shipper/1_input_50_mongo.conf.j2' %}

{% include 'shipper/1_input_60_samba.conf.j2' %}

{% include 'shipper/1_input_70_iis-exchange.conf.j2' %}


}

filter {
    if [type] == "syslog" {
        if [program] and [program] != "" {
            mutate {
                add_tag => [ "%{program}" ]
            }
        }

        mutate {
            replace => [ "host" , "%{source_host}" ]
            remove_field => [ "source_host" ]
        }
    }

    # Remove header lines from CSV files
    if [type] == "csv" {
        if [message] =~ /^Server/ {
            drop {}
        }
    }
}

output {
{% include 'shipper/3_output.conf.j2' %}

}
