###############################
# Default settings for logstash
###############################

# Override Java location
#JAVACMD=/usr/bin/java

# Set a home directory
#LS_HOME=/var/lib/logstash

# Arguments to pass to logstash agent
#LS_OPTS="--debug"

# Arguments to pass to java
{% if 'ls_parser' in group_names or 'ls_shipper' in group_names %}
LS_HEAP_SIZE="{{ ansible_memtotal_mb // 2 }}m"
{% else %}
#LS_HEAP_SIZE="500m"
{% endif %}
#LS_JAVA_OPTS="-Djava.io.tmpdir=$HOME"

# pidfiles aren't used for upstart; this is for sysv users.
#LS_PIDFILE=/var/run/logstash.pid

# user id to be invoked as; for upstart: edit /etc/init/logstash.conf
#LS_USER=logstash
LS_GROUP=logreader

# logstash logging
#LS_LOG_FILE=/var/log/logstash/logstash.log
#LS_USE_GC_LOGGING="true"

# logstash configuration directory
#LS_CONF_DIR=/etc/logstash/conf.d

# Open file limit; cannot be overridden in upstart
{% if 'ls_shipper' in group_names %}
LS_OPEN_FILES={{ logstash_open_files }}
{% else %}
#LS_OPEN_FILES=16384
{% endif %}

# Nice level
LS_NICE=0